<button #buttonElement [class]="getButtonClasses()" [disabled]="disabled" type="button">
  @if (displayMode === 'icon-text') {
    <fa-icon [icon]="icon" class="me-2"></fa-icon>
    <span>{{ text }}</span>
  }
  
  @if (displayMode === 'icon-only') {
    <fa-icon [icon]="icon"></fa-icon>
  }
  
  @if (displayMode === 'animated') {
    <div class="smart-button__content">
      <fa-icon [icon]="icon" class="smart-button__icon"
        [class.smart-button__icon--hidden]="showText && !isAnimating"
        [class.smart-button__icon--animating]="isAnimating">
      </fa-icon>
      <span class="smart-button__text"
        [class.smart-button__text--hidden]="!showText && !isAnimating"
        [class.smart-button__text--animating]="isAnimating">
        {{ text }}
      </span>
    </div>
  }
</button>