<legend class="text-center">Территория</legend>
<form #form_area="ngForm" (ngSubmit)="onSubmit()" class="g-3" novalidate>
  <div class="mb-3">
    <label for="title" class="form-label position-relative">
      Название
      @if (title.invalid && (title.dirty || title.touched)) {
        <div class="alert">
          @if (title.errors?.['minlength']) {
            <div
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              Минимально 3 символа
            </div>
          }
        </div>
      }
    </label>
    <input id="title" name="title" placeholder="Мой двор"
      class="form-control"
      [(ngModel)]="fields.title" #title="ngModel"
      required="true" minlength="3"/>
  </div>
  <div class="mb-3">
    <label for="address" class="form-label position-relative">
      Адрес
      @if (address.invalid && (address.dirty || address.touched)) {
        <div class="alert">
          @if (address.errors?.['minlength']) {
            <div
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              Минимально 3 символа
            </div>
          }
        </div>
      }
    </label>
    <input id="address" name="address" placeholder="Адрес территории"
      class="form-control"
      [(ngModel)]="fields.address" #address="ngModel"
      required="true" minlength="3"/>
  </div>
  <div class="mb-3">
    <label for="kind" class="form-label position-relative">
      Тип
    </label>
    <select id="kind" name="kind" placeholder="Выберите тип управления"
      class="form-select"
      [(ngModel)]="fields.kind" #kind="ngModel"
      required="true">
      <!--
      <option value="autonomous">Автономный</option>
      <option value="homeass">Home Assistant</option>
      <option value="homekit">Apple HomeKit</option>
      //-->
      <option value="xkee" selected>XKee Cloud</option>
    </select>
  </div>
  @if (need_credentials()) {
    <div class="mb-3">
      <label for="access" class="form-label position-relative">
        Access Key
      </label>
      <input id="access" name="access"
        class="form-control"
        [(ngModel)]="fields.access" #access="ngModel"
        required="true" minlength="3"/>
    </div>
  }
  @if (need_credentials()) {
    <div class="mb-3">
      <label for="secret" class="form-label position-relative">
        Secret Key
      </label>
      <input id="secret" name="secret"
        class="form-control"
        [(ngModel)]="fields.secret" #secret="ngModel"
        required="true" minlength="3"/>
    </div>
  }
  <div class="mb-3 d-grid gap-2">
    <button type="submit" class="btn btn-success mb-2"
    [disabled]="form_area.invalid">
      <fa-icon [icon]="faSave" class="me-2"></fa-icon>
      Применить
    </button>
    <a routerLink="/areas"
    type="button" class="btn btn-secondary">
      <fa-icon [icon]="faArrowLeft" class="me-2"></fa-icon>
      Назад
    </a>
  </div>
</form>

<!-- Desktop view buttons -->
<div class="d-none d-md-block">
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="d-flex gap-2">
        <a type="button" class="btn btn-info" [routerLink]="['/areas', 'import']">
          <fa-icon [icon]="faFileImport" class="me-2"></fa-icon>
          Импорт
        </a>
        @if (!is_creation()) {
          <a type="button" class="btn btn-info" (click)="export()">
            <fa-icon [icon]="faFileExport" class="me-2"></fa-icon>
            Экспорт
          </a>
        }
      </div>
    </div>
  </div>
  @if (!is_creation()) {
    <div class="position-fixed bottom-0 start-0 p-3">
      <a type="button" class="btn btn-danger" [routerLink]="['/confirm', 'areas', fields.pk]">
        <fa-icon [icon]="faTrash" class="me-2"></fa-icon>
        Удалить
      </a>
    </div>
  }
</div>

<!-- Mobile view buttons -->
<div class="d-md-none">
  <div class="mb-3 fixed-bottom">
    <div class="container-fluid">
      <div class="d-grid gap-2">
        @if (!is_creation()) {
          <a type="button" class="btn btn-danger mb-2" [routerLink]="['/confirm', 'areas', fields.pk]">
            <fa-icon [icon]="faTrash" class="me-2"></fa-icon>
            Удалить
          </a>
        }
        <a type="button" class="btn btn-info mb-2" [routerLink]="['/areas', 'import']">
          <fa-icon [icon]="faFileImport" class="me-2"></fa-icon>
          Импорт
        </a>
        @if (!is_creation()) {
          <a type="button" class="btn btn-info mb-2" (click)="export()">
            <fa-icon [icon]="faFileExport" class="me-2"></fa-icon>
            Экспорт
          </a>
        }
      </div>
    </div>
  </div>
</div>
