<form #form_area="ngForm" class="g-3" novalidate>
    <div class="mb-3">
        <label for="title" class="form-label position-relative">
            Название
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert">
                <div *ngIf="title.errors?.['minlength']"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    Минимально 3 символа
                </div>
            </div>
        </label>
        <input id="title" name="title" placeholder="Мой двор"
            class="form-control"
            [(ngModel)]="area.title" #title="ngModel"
            required="true" minlength="3"/>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label position-relative">
            Адрес
            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert">
                <div *ngIf="address.errors?.['minlength']"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    Минимально 3 символа
                </div>
            </div>
        </label>
        <input id="address" name="address" placeholder="Адрес территории"
            class="form-control"
            [(ngModel)]="area.address" #address="ngModel"
            required="true" minlength="3"/>
    </div>
    <div class="mb-3">
        <label for="kind" class="form-label position-relative">
            Тип
        </label>
        <select id="kind" name="kind" placeholder="Выберите тип управления"
            class="form-select"
            [(ngModel)]="area.kind" #kind="ngModel"
            required="true">
            <!--
            <option value="autonomous">Автономный</option>
            <option value="homeass">Home Assistant</option>
            <option value="homekit">Apple HomeKit</option>
            //-->
            <option value="xkee" selected>XKee Cloud</option>
        </select>
    </div>
    <div class="mb-3" *ngIf="need_credentials()">
        <label for="access" class="form-label position-relative">
            Access Key
        </label>
        <input id="access" name="access"
            class="form-control"
            [(ngModel)]="area.access" #access="ngModel"
            required="false" minlength="3"/>
    </div>
    <div class="mb-3" *ngIf="need_credentials()">
        <label for="secret" class="form-label position-relative">
            Secret Key
        </label>
        <input id="secret" name="secret"
            class="form-control"
            [(ngModel)]="area.secret" #secret="ngModel"
            required="false" minlength="3"/>
    </div>
    <div class="mb-3 d-grid gap-2">
        <button type="button" class="btn btn-primary"
            (click)="apply()" [disabled]="form_area.invalid">Применить</button>
        <button type="button" class="btn btn-secondary"
            (click)="cancel()">Назад</button>
    </div>
    <div class="mb-3 d-grid gap-2 fixed-bottom">
                <button type="button" class="btn btn-danger"
            (click)="delete()">Удалить</button>
    </div>
</form>
