<legend class="text-center">Территории</legend>
<div class="row">
    <div class="col">
        <figure class="text-center" *ngIf="empty">
            <blockquote class="blockquote">
                <p>У вас пока не зарегистрировано ни одной территории...</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Самое время добавить хотя бы одну...
            </figcaption>
        </figure>
        <ol class="list-group" *ngIf="!empty">
            <button *ngFor="let area of areas" class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        {{ area.title }}
                        <small class="text-muted">
                            ({{ area.kind }})
                        </small>
                    </h5>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p>
                            {{ area.address }}
                        </p>
                    </div>
                    <div class="col-4">
                        <a type="button" class="btn btn-info" [routerLink]="['/areas', area.pk, 'customers']">
                            <fa-icon [icon]="faUser" label="Клиенты"></fa-icon>
                        </a>
                        <a type="button" class="btn btn-info" [routerLink]="['/areas', area.pk, 'devices']">
                            <fa-icon [icon]="faWalkieTalkie" label="Устройства"></fa-icon>
                        </a>
                        <a type="button" class="btn btn-secondary" [routerLink]="['/areas', area.pk, 'edit']">
                            <fa-icon [icon]="faGear" label="Изменить"></fa-icon>
                        </a>
                    </div>
                </div>
                <small class="text-muted">
                    Устройства: {{ area.devices.length }} шт.
                    Клиенты: {{ area.customers.length }} шт.
                </small>
            </button>
        </ol>
        <div class="mb-3 d-grid gap-2">
            <a routerLink="/areas/create" routerLinkActive="active"
                type="button" class="btn btn-primary">
                Добавить территорию
            </a>
        </div>
    </div>
</div>
