<legend class="text-center">Территории</legend>
<div class="row" *ngIf="state == 'read'">
    <div class="col">
        <figure class="text-center" *ngIf="empty">
            <blockquote class="blockquote">
                <p>У вас пока не зарегистрировано ни одной территории...</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Самое время добавить хотя бы одну...
            </figcaption>
        </figure>
        <ol class="list-group" *ngIf="!empty">
            <button *ngFor="let area of areas" class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        {{area.title}}
                        <small class="text-muted">
                            ({{area.kind}})
                        </small>
                    </h5>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p>
                            {{area.address}}
                        </p>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-secondary"
                            (click)="on_select(area)">
                            <fa-icon [icon]="faGear" label="Изменить"></fa-icon>
                        </button>
                    </div>
                </div>
                <small class="text-muted">X устройств, Y клиентов</small>
            </button>
        </ol>
        <div class="mb-3 d-grid gap-2">
            <button type="button" (click)="set_state('create')"
                class="btn btn-primary">
                Добавить территорию
            </button>
        </div>
    </div>
</div>
<div class="row" *ngIf="state == 'create'">
    <div class="col">
        <div>
            <p>Укажитe название и адрес территории</p>
        </div>
        <app-area-form [state]="state" (event)="on_change($event)"/>
    </div>
</div>
<div class="row" *ngIf="state == 'update'">
    <div class="col">
        <div>
            <p>Измените название и адрес территории</p>
        </div>
        <app-area-form [state]="state" [selected_area]="selected_area"
            (event)="on_change($event)"/>
    </div>
</div>
