<legend class="text-center">Территории</legend>
<div class="row">
  <div class="col">
    @if (empty) {
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>У вас пока не зарегистрировано ни одной территории...</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Самое время добавить хотя бы одну...
        </figcaption>
      </figure>
    }
    @if (!empty) {
      <div class="table-responsive">
        <table class="table">
          <tbody>
            @for (area of areas; track area) {
              <tr>
                <td>
                  <a [routerLink]="['/areas', area.pk, 'customers']">
                    <div class="area-title">{{ area.title }}</div>
                  </a>
                  <small class="text-muted">{{ area.kind }}</small>
                </td>
                <td>
                  <fa-icon [icon]="faUser" label="Настройки"></fa-icon>
                  {{ area.customers.length }}
                </td>
                <td>{{ area.address }}</td>
                <td class="d-grid gap-2 d-flex justify-content-end">
                  <a type="button" class="btn btn-info position-relative"
                    [routerLink]="['/areas', area.pk, 'devices']">
                    <fa-icon [icon]="faWalkieTalkie" label="Устройства"></fa-icon>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{ area.devices.length }}
                    </span>
                  </a>
                  <a type="button" class="btn btn-info"
                    [routerLink]="['/areas', area.pk, 'edit']">
                    <fa-icon [icon]="faGear" label="Настройки"></fa-icon>
                  </a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
</div>

<!-- Desktop view buttons -->
<div class="d-none d-md-block">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="d-flex justify-content-end">
        <a routerLink="/areas/create" routerLinkActive="active"
          type="button" class="btn btn-primary">
          <fa-icon [icon]="faPlus" class="me-2"></fa-icon>
          Добавить территорию
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Mobile view buttons -->
<div class="d-md-none">
  <div class="mb-3 fixed-bottom">
    <div class="container-fluid">
      <div class="mb-3 d-grid gap-2">
        <a routerLink="/areas/create" routerLinkActive="active"
          type="button" class="btn btn-primary">
          <fa-icon [icon]="faPlus" class="me-2"></fa-icon>
          Добавить территорию
        </a>
      </div>
    </div>
  </div>
</div>
